In [125]:
import pandas as pd
import yfinance as yf
import datetime
import sys
import numpy as np

In [148]:
msft = yf.Ticker("MSFT")

In [150]:
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 163000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, and OneDrive; LinkedIn that includes Talent, Learning, Sales, and Marketing solutions, as well as premium subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other intelligent devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'previousClose': 231.65,
 'regularMarketOpen': 229.27,
 'twoHundredDayAverage': 186.15259,
 'trailingAnnualDividendYield': 0.008806389,
 'payoutRatio': 0.3455,
 'volume24Hr': None,
 'regularMarketDayHigh': 229.31,
 'navPrice': None,
 'averageDailyVolume10Day': 32575525,
 'totalAssets': None,
 'regularMarketPreviousClose': 231.65,
 'fiftyDayAverage': 211.94333,
 'trailingAnnualDividendRate': 2.04,
 'open': 229.27,
 'averageVolume10days': 32575525,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.04,
 'exDividendDate': 1597795200,
 'beta': 0.893534,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 214.9602,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 37.725693,
 'regularMarketVolume': 55648965,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1644450283520,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 34373887,
 'priceToSalesTrailing12Months': 11.498446,
 'dayLow': 214.9602,
 'ask': 217.78,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 55648965,
 'fiftyTwoWeekHigh': 232.86,
 'forwardPE': 29.604904,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.83,
 'fiftyTwoWeekLow': 132.52,
 'bid': 217.01,
 'tradeable': False,
 'dividendYield': 0.0088,
 'bidSize': 1000,
 'dayHigh': 229.31,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': True,
 'gmtOffSetMilliseconds': '-14400000',
 'underlyingSymbol': None,
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingExchangeSymbol': None,
 'headSymbol': None,
 'messageBoardId': 'finmb_21835',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 11.878,
 'beta3Year': None,
 'profitMargins': 0.30962,
 'enterpriseToEbitda': 26.03,
 '52WeekChange': 0.68313587,
 'morningStarRiskRating': None,
 'forwardEps': 7.34,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7567649792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 15.626,
 'sharesShort': 29634174,
 'sharesPercentSharesOut': 0.0039,
 'fundFamily': None,
 'lastFiscalYearEnd': 1593475200,
 'heldPercentInstitutions': 0.74093,
 'netIncomeToCommon': 44280999936,
 'trailingEps': 5.76,
 'lastDividendValue': None,
 'SandP52WeekChange': None,
 'priceToBook': 13.90631,
 'heldPercentInsiders': 0.014249999,
 'nextFiscalYearEnd': 1656547200,
 'mostRecentQuarter': 1593475200,
 'shortRatio': 0.82,
 'sharesShortPreviousMonthDate': 1594771200,
 'floatShares': 7455954378,
 'enterpriseValue': 1698664808448,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.151,
 'dateShortInterest': 1597363200,
 'pegRatio': 2.39,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.004,
 'sharesShortPriorMonth': 39894144,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 229.27,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [156]:
msft.recommendations['To Grade'].unique()

array(['Buy', 'Long-Term Buy', 'Overweight', 'Neutral', 'Hold',
       'Sector Perform', 'Equal-Weight', '', 'Market Perform', 'Sell',
       'Outperform', 'Underperform', 'Underweight', 'Strong Buy',
       'Perform'], dtype=object)

In [139]:
datetime.datetime.utcfromtimestamp(1045526400) > pd.to_datetime('today') - pd.to_timedelta(20000, unit='d')

True

In [126]:
# Use the following site to get list of all publicly traded Stocks
#http://nxcoreapi.com/symbols.php

#nasdaq
#https://old.nasdaq.com/screening/companies-by-name.aspx?letter=0&exchange=nasdaq&render=download
nqnm = pd.read_csv('nasdaq.csv')
nqnm['Exchange'] = 'Nasdaq'
#nyse
#https://old.nasdaq.com/screening/companies-by-name.aspx?letter=0&exchange=nyse&render=download
nyse = pd.read_csv('nyse.csv')
nyse['Exchange'] = 'NYSE'
#amex
#https://old.nasdaq.com/screening/companies-by-name.aspx?letter=0&exchange=amex&render=download
amex = pd.read_csv('amex.csv')
amex['Exchange'] = 'AMEX'

In [127]:
stocks = nyse.copy()
stocks = stocks.append(nqnm)
stocks = stocks.append(amex)
# stocks.tail()
# stocks

In [128]:
stocks = stocks[['Symbol', 'Name', 'Exchange', 'Sector', 'industry']]
stocks.reset_index(inplace=True)
stocks = stocks.drop(columns=['index'])
stocks

,Symbol,Name,Exchange,Sector,industry
0,DDD,3D Systems Corporation,NYSE,Technology,Computer Software: Prepackaged Software
1,MMM,3M Company,NYSE,Health Care,Medical/Dental Instruments
2,WBAI,500.com Limited,NYSE,Consumer Services,Services-Misc. Amusement & Recreation
3,WUBA,58.com Inc.,NYSE,Technology,"Computer Software: Programming, Data Processing"
4,EGHT,8x8 Inc,NYSE,Technology,EDP Services
...,...,...,...,...,...
7125,WYY,WidePoint Corporation,AMEX,Technology,EDP Services
7126,WTT,"Wireless Telecom Group, Inc.",AMEX,Capital Goods,Electrical Products
7127,XTNT,"Xtant Medical Holdings, Inc.",AMEX,Health Care,Biotechnology: Biological Products (No Diagnos...
7128,ZDGE,"Zedge, Inc.",AMEX,Technology,Computer Software: Prepackaged Software
7129,ZOM,Zomedica Pharmaceuticals Corp.,AMEX,Health Care,Major Pharmaceuticals

In [129]:
features = ['dividendRate', 'exDividendDate', 'lastSplitDate', 'lastSplitFactor']
    
for feature in features:
    stocks.loc[:, feature] = np.nan
    
stocks[features] = stocks[features].astype('object')

In [130]:
# uncomment the following when debugging
stocks = stocks[0:100]
stocks

,Symbol,Name,Exchange,Sector,industry,dividendRate,exDividendDate,lastSplitDate,lastSplitFactor
0,DDD,3D Systems Corporation,NYSE,Technology,Computer Software: Prepackaged Software,NaN,NaN,NaN,NaN
1,MMM,3M Company,NYSE,Health Care,Medical/Dental Instruments,NaN,NaN,NaN,NaN
2,WBAI,500.com Limited,NYSE,Consumer Services,Services-Misc. Amusement & Recreation,NaN,NaN,NaN,NaN
3,WUBA,58.com Inc.,NYSE,Technology,"Computer Software: Programming, Data Processing",NaN,NaN,NaN,NaN
4,EGHT,8x8 Inc,NYSE,Technology,EDP Services,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
95,ALL^B,Allstate Corporation (The),NYSE,NaN,NaN,NaN,NaN,NaN,NaN
96,ALL^G,Allstate Corporation (The),NYSE,NaN,NaN,NaN,NaN,NaN,NaN
97,ALL^H,Allstate Corporation (The),NYSE,NaN,NaN,NaN,NaN,NaN,NaN
98,ALL^I,Allstate Corporation (The),NYSE,NaN,NaN,NaN,NaN,NaN,NaN
99,ALLY,Ally Financial Inc.,NYSE,Finance,Major Banks,NaN,NaN,NaN,NaN

In [100]:
quarterly_df=pd.DataFrame()

In [101]:
pd.to_datetime('today')

Timestamp('2020-09-03 15:02:33.059004')

In [102]:
start = pd.to_datetime('today') - pd.to_timedelta(150, unit='d')
end = pd.to_datetime('today') + pd.to_timedelta(150, unit='d')

In [103]:
quarterly_df['Business Dates'] = pd.bdate_range(start=start, end=end)

In [104]:
quarterly_df

    Business Dates
0       2020-04-06
1       2020-04-07
2       2020-04-08
3       2020-04-09
4       2020-04-10
..             ...
210     2021-01-25
211     2021-01-26
212     2021-01-27
213     2021-01-28
214     2021-01-29

[215 rows x 1 columns]

In [105]:
previous_dict = {}
future_dict = {}
holidays = []

for row in quarterly_df.itertuples():
    print (row[1])
   
    date = row[1]
    day = str(row[1])[0:10]
    url = 'https://finance.yahoo.com/calendar/earnings/?day='+day
    
    
    # add to previous earnings dates
    try:
        earnings = pd.read_html(url)[0]
        if row[1] < pd.to_datetime('today'):
            for earnings_row in earnings.itertuples():
                previous_dict[earnings_row[1]] = (date, earnings_row[4], earnings_row[5], earnings_row[6])

        # add to future earnings dates
        else:
            for earnings_row in earnings.itertuples():
                future_dict[earnings_row[1]] = (date)
    except (ValueError):
        holidays.append(date)
        e = sys.exc_info()[0]
        print(e)

2020-04-06 00:00:00
2020-04-07 00:00:00
2020-04-08 00:00:00
2020-04-09 00:00:00
2020-04-10 00:00:00
2020-04-13 00:00:00
2020-04-14 00:00:00
2020-04-15 00:00:00
2020-04-16 00:00:00
2020-04-17 00:00:00
<class 'ValueError'>
2020-04-20 00:00:00
2020-04-21 00:00:00
2020-04-22 00:00:00
2020-04-23 00:00:00
2020-04-24 00:00:00
2020-04-27 00:00:00
2020-04-28 00:00:00
2020-04-29 00:00:00
2020-04-30 00:00:00
2020-05-01 00:00:00
2020-05-04 00:00:00
2020-05-05 00:00:00
2020-05-06 00:00:00
2020-05-07 00:00:00
2020-05-08 00:00:00
2020-05-11 00:00:00
2020-05-12 00:00:00
2020-05-13 00:00:00
2020-05-14 00:00:00
2020-05-15 00:00:00
2020-05-18 00:00:00
2020-05-19 00:00:00
2020-05-20 00:00:00
2020-05-21 00:00:00
2020-05-22 00:00:00
2020-05-25 00:00:00
2020-05-26 00:00:00
2020-05-27 00:00:00
2020-05-28 00:00:00
2020-05-29 00:00:00
2020-06-01 00:00:00
2020-06-02 00:00:00
2020-06-03 00:00:00
2020-06-04 00:00:00
2020-06-05 00:00:00
2020-06-08 00:00:00
2020-06-09 00:00:00
2020-06-10 00:00:00
2020-06-11 00:00:00
2020-06-12 00:00:00
2020-06-15 00:00:00
2020-06-16 00:00:00
2020-06-17 00:00:00
2020-06-18 00:00:00
2020-06-19 00:00:00
2020-06-22 00:00:00
2020-06-23 00:00:00
2020-06-24 00:00:00
2020-06-25 00:00:00
2020-06-26 00:00:00
2020-06-29 00:00:00
2020-06-30 00:00:00
2020-07-01 00:00:00
2020-07-02 00:00:00
2020-07-03 00:00:00
<class 'ValueError'>
2020-07-06 00:00:00
2020-07-07 00:00:00
2020-07-08 00:00:00
2020-07-09 00:00:00
2020-07-10 00:00:00
2020-07-13 00:00:00
2020-07-14 00:00:00
2020-07-15 00:00:00
2020-07-16 00:00:00
2020-07-17 00:00:00
2020-07-20 00:00:00
2020-07-21 00:00:00
2020-07-22 00:00:00
2020-07-23 00:00:00
2020-07-24 00:00:00
2020-07-27 00:00:00
2020-07-28 00:00:00
2020-07-29 00:00:00
2020-07-30 00:00:00
2020-07-31 00:00:00
2020-08-03 00:00:00
2020-08-04 00:00:00
2020-08-05 00:00:00
2020-08-06 00:00:00
2020-08-07 00:00:00
2020-08-10 00:00:00
2020-08-11 00:00:00
2020-08-12 00:00:00
2020-08-13 00:00:00
2020-08-14 00:00:00
2020-08-17 00:00:00
2020-08-18 00:00:00
2020-08-19 00:00:00
2020-08-20 00:00:00
2020-08-21 00:00:00
2020-08-24 00:00:00
2020-08-25 00:00:00
2020-08-26 00:00:00
2020-08-27 00:00:00
2020-08-28 00:00:00
2020-08-31 00:00:00
2020-09-01 00:00:00
2020-09-02 00:00:00
2020-09-03 00:00:00
2020-09-04 00:00:00
2020-09-07 00:00:00
2020-09-08 00:00:00
2020-09-09 00:00:00
2020-09-10 00:00:00
2020-09-11 00:00:00
2020-09-14 00:00:00
2020-09-15 00:00:00
2020-09-16 00:00:00
2020-09-17 00:00:00
2020-09-18 00:00:00
2020-09-21 00:00:00
2020-09-22 00:00:00
2020-09-23 00:00:00
2020-09-24 00:00:00
2020-09-25 00:00:00
2020-09-28 00:00:00
2020-09-29 00:00:00
2020-09-30 00:00:00
2020-10-01 00:00:00
2020-10-02 00:00:00
<class 'ValueError'>
2020-10-05 00:00:00
2020-10-06 00:00:00
2020-10-07 00:00:00
2020-10-08 00:00:00
2020-10-09 00:00:00
2020-10-12 00:00:00
2020-10-13 00:00:00
2020-10-14 00:00:00
2020-10-15 00:00:00
2020-10-16 00:00:00
2020-10-19 00:00:00
2020-10-20 00:00:00
2020-10-21 00:00:00
2020-10-22 00:00:00
2020-10-23 00:00:00
2020-10-26 00:00:00
2020-10-27 00:00:00
2020-10-28 00:00:00
2020-10-29 00:00:00
2020-10-30 00:00:00
2020-11-02 00:00:00
2020-11-03 00:00:00
2020-11-04 00:00:00
2020-11-05 00:00:00
2020-11-06 00:00:00
2020-11-09 00:00:00
2020-11-10 00:00:00
2020-11-11 00:00:00
2020-11-12 00:00:00
2020-11-13 00:00:00
2020-11-16 00:00:00
2020-11-17 00:00:00
2020-11-18 00:00:00
2020-11-19 00:00:00
2020-11-20 00:00:00
2020-11-23 00:00:00
2020-11-24 00:00:00
2020-11-25 00:00:00
2020-11-26 00:00:00
<class 'ValueError'>
2020-11-27 00:00:00
2020-11-30 00:00:00
2020-12-01 00:00:00
2020-12-02 00:00:00
2020-12-03 00:00:00
2020-12-04 00:00:00
2020-12-07 00:00:00
2020-12-08 00:00:00
2020-12-09 00:00:00
2020-12-10 00:00:00
2020-12-11 00:00:00
2020-12-14 00:00:00
2020-12-15 00:00:00
2020-12-16 00:00:00
2020-12-17 00:00:00
2020-12-18 00:00:00
2020-12-21 00:00:00
2020-12-22 00:00:00
<class 'ValueError'>
2020-12-23 00:00:00
2020-12-24 00:00:00
2020-12-25 00:00:00
<class 'ValueError'>
2020-12-28 00:00:00
<class 'ValueError'>
2020-12-29 00:00:00
2020-12-30 00:00:00
<class 'ValueError'>
2020-12-31 00:00:00
2021-01-01 00:00:00
2021-01-04 00:00:00
2021-01-05 00:00:00
2021-01-06 00:00:00
2021-01-07 00:00:00
2021-01-08 00:00:00
2021-01-11 00:00:00
<class 'ValueError'>
2021-01-12 00:00:00
2021-01-13 00:00:00
2021-01-14 00:00:00
2021-01-15 00:00:00
2021-01-18 00:00:00
2021-01-19 00:00:00
2021-01-20 00:00:00
2021-01-21 00:00:00
2021-01-22 00:00:00
2021-01-25 00:00:00
2021-01-26 00:00:00
2021-01-27 00:00:00
2021-01-28 00:00:00
2021-01-29 00:00:00

In [106]:
print (previous_dict['AAPL'])
# print (future_dict)

(Timestamp('2020-07-29 00:00:00'), '0.51', '0.65', '+26.22')

In [107]:
earnings = pd.read_html(url)[0]

In [108]:
for row in earnings.itertuples():
    print (row[1])
    print (row)
    break

PSX
Pandas(Index=0, Symbol='PSX', Company='Phillips 66', _3='Before Market Open', _4='-', _5='-', _6='-')

In [109]:
url

'https://finance.yahoo.com/calendar/earnings/?day=2021-01-29'

In [110]:
try:
    pd.read_html(url)
except (ValueError):
    e = sys.exc_info()[0]
    print('hi')

In [111]:
previous = pd.DataFrame.from_dict(previous_dict, orient='index',
                                  columns=['Previous_Earnings_Date', 'Expected', 'Actual', 'Surprise'])
future = pd.DataFrame.from_dict(future_dict, orient = 'index', columns=['Future Earnings Date'])
future

     Future Earnings Date
BXMX           2020-09-04
HURC           2021-01-01
TNP            2020-11-24
GAB            2020-09-04
MSB            2020-09-04
...                   ...
RHI            2021-01-28
MDC            2021-01-28
ROP            2021-01-28
MNRO           2021-01-28
IDXX           2021-01-29

[2090 rows x 1 columns]

In [112]:
previous = previous.reset_index()
future = future.reset_index()
previous.rename(columns={'index': 'Symbol'}, inplace=True)

In [113]:
future.rename(columns={'index': 'Symbol'}, inplace=True)
future.head(1)

  Symbol Future Earnings Date
0   BXMX           2020-09-04

In [114]:
previous.head()

  Symbol Previous Earnings Date Expected Actual Surprise
0  CTTAY             2020-08-04        -      -        -
1  IDTVF             2020-07-06        -      -        -
2  CSRFF             2020-07-23        -      -        -
3  VLPNF             2020-08-04    -0.71   -0.4   +43.66
4  SFFFF             2020-04-06        -      -        -

In [115]:
joined = pd.merge(previous, future, how='inner')

In [116]:
joined.shape

(1101, 6)

In [117]:
previous.shape

(4161, 5)

In [118]:
future.shape

(2090, 2)